[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
"pywin32" = "*"
matplotlib = "*"
scipy = "*"
opencv-python = "*"
thulac = "*"
jieba = "*"

[dev-packages]
pylint = "*"
rope = "*"

[requires]
python_version = "3.7"
