[[source]]
url = "http://mirrors.aliyun.com/pypi/simple"
verify_ssl = false
name = "pypi"

[packages]
pillow = "*"
"pywin32" = "*"
matplotlib = "*"
scipy = "*"
opencv-python = "*"

[dev-packages]
pylint = "*"
rope = "*"

[requires]
python_version = "3.8"
